body {
    background-image: url("../images/background.jpg");
    color: whitesmoke;
    font-size: 24px;
}

p {
    margin: 1em 3em 1em 0;
    display: inline;
    font-weight: bolder;
}

img {
    width: 200px;
    height: 200px;
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.topics-view {
    display: flex;
    flex-wrap: wrap;
}